---
network_config:
- type: interface
  name: {{ ctlplane_interface }}
  use_dhcp: false
  {% raw -%}
  dns_servers: {{ ctlplane_dns_nameservers }}
  domain: {{ dns_search_domains }}
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
  routes:
  - ip_netmask: 0.0.0.0/0
    next_hop: {{ ctlplane_gateway_ip }}
    default: true
{% endraw %}

- type: vlan
  device: {{ storage_interface }}
  vlan_id: {{ storage_network_vlan_id }}
  {% raw -%}
  addresses:
  - ip_netmask: {{ storage_ip }}/{{ storage_cidr }}
{% endraw  %}
- type: vlan
  device: {{ storage_interface }}
  vlan_id: {{ storage_mgmt_network_vlan_id }}
  {% raw -%}
  addresses:
  - ip_netmask: {{ storage_mgmt_ip }}/{{ storage_mgmt_cidr }}
{% endraw %}
