---
subnet:
    cidr: "{{ external_net_cidr }}"
    name: external_subnet
    # Gateway for ext.net may differ from ExternalInterfaceDefaultRoute.
    # As for ipv6 deployments we use still ipv4 gw, we need to specify
    # it explicitly also here for ext. net. purpose.
    gateway: "{{ external_gateway }}"
    allocation_pool:
        start: "{{ external_allocation_pools_start }}"
        end: "{{ external_allocation_pools_end }}"
ipv6_subnet:
    cidr: "{{ external_ipv6_net_cidr }}"
    name: external_ipv6_subnet
    gateway: "{{ external_ipv6_gateway }}"
    allocation_pool:
        start: "{{ external_ipv6_allocation_pools_start }}"
        end: "{{ external_ipv6_allocation_pools_end }}"

