---
parameter_defaults:
{% if manila_enabled %}
  ControllerStorageNfsCount: {{ controller_count }}
{% else %}
  ControllerCount: {{ controller_count }}
{% endif %}

{% if failed_nodes_machine_type is not defined %}

{% for node_type in machine_types %}
{% if (node_type == controller_machine_type) and (node_type == ceph_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int - ceph_node_count|int }}
{% elif node_type == controller_machine_type %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int }}
{% elif node_type == ceph_machine_type %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - ceph_node_count|int }}
{% else %}
  Compute{{ node_type }}Count: {{ machine_count[node_type] }}
{% endif %}
{% endfor %}


{% else %}

{% for node_type in machine_types %}
{% if (node_type in failed_nodes_machine_type|unique) and (node_type == controller_machine_type) and  (node_type == ceph_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int - ceph_node_count|int - failed_nodes_machine_count[node_type]|int }}

{% elif (node_type in failed_nodes_machine_type|unique) and (node_type == controller_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int - failed_nodes_machine_count[node_type]|int }}

{% elif (node_type in failed_nodes_machine_type|unique) and (node_type == ceph_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - ceph_node_count|int - failed_nodes_machine_count[node_type]|int }}

{% elif node_type in failed_nodes_machine_type|unique  %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - failed_nodes_machine_count[node_type]|int }}

{% elif (node_type not in failed_nodes_machine_type|unique) and (node_type == controller_machine_type) and (node_type == ceph_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int - ceph_node_count|int }}

{% elif (node_type not in failed_nodes_machine_type|unique) and (node_type == controller_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - controller_count|int }}

{% elif (node_type not in failed_nodes_machine_type|unique) and (node_type == ceph_machine_type) %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int - ceph_node_count|int }}

{% else %}
  Compute{{ node_type }}Count: {{ machine_count[node_type]|int }}
{% endif %}
{% endfor %}
{% endif %}

{% if ceph_enabled %}
  CephStorageCount: {{ ceph_node_count }}
{% endif %}

{% if composable_roles and passthrough_nvme is defined %}
  Compute{{ pci_node_type }}PCICount: {{ pci_node_count }}
{% endif %}

{% for node_type in machine_types %}
  OvercloudCompute{{ node_type }}Flavor: baremetal{{ node_type }}
{% endfor %}

{% if ceph_enabled %}
  OvercloudCephStorageFlavor: baremetal{{ ceph_machine_type }}
{% endif %}

{% if composable_roles and passthrough_nvme is defined and pci_node_type is defined %}
  OvercloudCompute{{ pci_node_type }}PCIFlavor: baremetal{{ pci_node_type }}
{% endif %}
