#!/bin/bash
echo "Setting up LVM for local-storage"
vgcreate vg_ls /dev/disk/by-partlabel/LS
lvcreate -l 99%VG -T vg_ls/lv_tp_ls
{% for i in range(worker_nvme_localstorage_tp_lv_count) %}
lvcreate -V {{ worker_nvme_localstorage_tp_lv_size }} -T vg_ls/lv_tp_ls -n lv_tv{{ '%02d' % i }}
{% endfor %}
