[DEFAULT]
local_interface = {{ undercloud_local_interface }}
local_ip = {{ gateway }}/{{ subnet_mask }}
undercloud_ntp_servers = {{ time_servers | join(",") }}
{% if clean_nodes %}
clean_nodes = True
{% endif %}
{% if osp_release > 13 %}
container_images_file=/home/stack/containers-prepare-parameter.yaml
container_insecure_registries={{ registry_mirror }},{{ insecure_registries }}
undercloud_timezone = UTC
undercloud_public_host = {{ undercloud_public_host }}
undercloud_admin_host = {{ undercloud_admin_host }}
{% endif %}

{% if osp_release <= 12 %}
network_cidr = {{ cidr }}
network_gateway = {{ gateway }}
{% else %}
[ctlplane-subnet]
cidr = {{ cidr }}
gateway = {{ gateway }}
{% endif %}
dhcp_start = {{ dhcp_start }}
dhcp_end = {{ dhcp_end }}
inspection_iprange = {{ inspection_iprange }}
